.profile__about {
  grid-column: 1;
  margin: 16px 0 0 0;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 310px;
}

@media screen and (max-width:768px) {
  .profile__about {
    margin: 14px 0 0 0;
    text-align: center;
    font-size: 14px;
    line-height: 17px;
  }
}