.profile__description {
  display: grid;
  grid-template-columns: 1fr 24px;
  align-self: center;
  margin-left: 30px;
  column-gap: 18px;
}

@media screen and (max-width:768px) {
  .profile__description {
    grid-template-columns: 1fr 18px;
    margin-top: 22.25px;
    column-gap: 10px;
  }
}